html {
  background-image: url(images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  font-family: futura, sans-serif;
  cursor: url(http://www.xxix.co/_assets/images/cursor/cursor-circle-lg-black-fill.png) 15 15,auto !important;
}

a {
  text-decoration: none;
  color: black !important;
  cursor: url(http://www.xxix.co/_assets/images/cursor/cursor-close-lg-black.png) 15 15,auto !important;
}

a:hover {
  color: transparent !important;
  text-shadow: 0 0 8px #000;
}

.wrapper {
  display:grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 1em;
  justify-items: stretch;
  align-items: stretch;
}

.box1 {
  /*align-self:start;*/
  grid-column: 1/4;
  grid-row: 1/3;
}

.box2 {
  /*align-self:end;*/
  grid-column: 1/4;
  grid-row: 3/5;
}

.box3 {
  /*justify-self:end;*/
  grid-column: 1/4;
  grid-row: 5/7;
}

.box4 {
  grid-column: 1/4;
  grid-row: 7/9;
}

.box5 {
  /*align-self:start;*/
  grid-column: 1/4;
  grid-row: 9/11;
}

.box6 {
  /*align-self:end;*/
  grid-column: 1/4;
  grid-row: 11/13;
}

.box7 {
  /*justify-self:end;*/
  grid-column: 1/4;
  grid-row: 13/15;
}

.box8 {
  grid-column: 1/4;
  grid-row: 15/17;
}

.logo img {
  position: fixed;
  display: block;
  max-width: 20%;
  height: auto;
  top: 2%;
  left: 2%;
  z-index: 2000;

}

.quote1 {
  position: absolute;
  background-color: #84ff00;
  font-size: 180%;
  margin-top: 18%;
  margin-left: 50%;
  z-index: 1000;
}

.quote2 {
  position: absolute;
  background-color: #84ff00;
  font-size: 260%;
  margin-top: 15%;
  margin-left: 13%;
  z-index: 1000;

}

.quote3 {
  position: absolute;
  background-color: #84ff00;
  font-size: 500%;
  margin-top: 17%;
  margin-left: 26%;
  z-index: 1000;

}

.quote4 {
  position: absolute;
  background-color: #84ff00;
  font-size: 210%;
  margin-top: 18%;
  margin-left: 15%;
  z-index: 1000;

}

.quote5 {
  position: absolute;
  background-color: #84ff00;
  font-size: 400%;
  margin-top: 22%;
  margin-left: 42%;
  z-index: 1000;

}

.quote6 {
  position: absolute;
  background-color: #84ff00;
  font-size: 200%;
  margin-top: 20%;
  margin-left: 15%;
  z-index: 1000;

}

.quote7 {
  position: absolute;
  background-color: #84ff00;
  font-size: 410%;
  margin-top: 25%;
  margin-left: 13%;
  z-index: 1000;

}

.quote8 {
  position: absolute;
  background-color: #84ff00;
  font-size: 160%;
  margin-top: 20%;
  margin-left: 27%;
  z-index: 1000;
}

.doodle1 img {
  position: absolute;
  display: block;
  max-width: 15%;
  height: auto;
  margin-top: 20%;
  margin-left: 40%;
  z-index: 1000;
}

.doodle2 img {
  position: absolute;
  display: block;
  max-width: 17%;
  height: auto;
  margin-top: 14%;
  margin-left: 62%;
  z-index: 1000;
}

.doodle3 img {
  position: absolute;
  display: block;
  max-width: 10%;
  height: auto;
  margin-top: 6%;
  margin-left: 75%;
  z-index: 1000;
}

.doodle4 img {
  position: absolute;
  display: block;
  max-width: 18%;
  height: auto;
  margin-top: 5%;
  margin-left: 14%;
  z-index: 1000;
}

.doodle5 img {
  position: absolute;
  display: block;
  max-width: 20%;
  height: auto;
  margin-top: 5%;
  margin-left: 40%;
  z-index: 1000;
}

.doodle6 img {
  position: absolute;
  display: block;
  max-width: 12%;
  height: auto;
  margin-top: 15%;
  margin-left: 62%;
  z-index: 1000;
}

.doodle7 img {
  position: absolute;
  display: block;
  max-width: 28%;
  height: auto;
  margin-top: 32%;
  margin-left: 59%;
  z-index: 1000;
}

.doodle8 img {
  position: absolute;
  display: block;
  max-width: 25%;
  height: auto;
  margin-top: 19%;
  margin-left: 77%;
  z-index: 1000;
}

.apple img {
  position: relative;
  display: block;
  max-width: 30%;
  height: auto;
  margin-left: 45%;
  z-index: 100;
}

.potato img {
  position: relative;
  display: block;
  max-width: 40%;
  height: auto;
  margin-top: -20%;
  margin-left: 70%;
  z-index: 100;
}

.tall img {
  position: relative;
  display: block;
  max-width: 45%;
  height: auto;
  margin-top: 5%;
  margin-left: -5%;
  z-index: 100;
}

.ricecake img {
  position: relative;
  display: block;
  width: 25%; 
  height: 25%; 
  object-fit: contain; 
  height: auto;
  margin-top: 5%;
  margin-left: 75%;
  z-index: 100;
}

.mirror img {
  position: relative;
  display: block;
  width: 30%; 
  height: 30%; 
  object-fit: contain; 
  height: auto;
  margin-top: 6%;
  margin-left: 1%;
  z-index: 100;
}

.window img {
  position: relative;
  display: block;
  max-width: 50%;
  height: auto;
  margin-top: 6%;
  margin-left: 50%;
  z-index: 100;
}

.bible img {
  position: relative;
  display: block;
  max-width: 18%;
  height: auto;
  margin-top: 5%;
  margin-left: 3%;
  z-index: 100;
}

.beer img {
  position: relative;
  display: block;
  max-width: 55%;
  height: auto;
  margin-top: -5%;
  margin-left: 60%;
  z-index: 100;
}

.plane img {
  position: relative;
  display: block;
  width: 75%; 
  height: 90%; 
  object-fit: contain; 
  height: auto;
  margin-top: 0%;
  margin-left: -18%;
  z-index: 100;
}

@media only screen and (max-width: 800px) {
  .logo img {
    max-width: 35%; 
    
  }

}



