* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  position: absolute; 
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: none;
  padding: 0px;
}

body.darkmode {
  background-image: url("assets/wavy.jpg");
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: pink; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ee1d78;  
}

.neon {
  width: 700px;
  height: auto;
  position: fixed;
  top: 55%;
  z-index: 100;
}

.disappear {
  display: none;
}

.info {
  width: 500px;
  height: 300px;
  position: fixed;
  top: 17%;
  left: 30%;
  box-shadow: 10px 10px 10px 10px #ee1d78;
  font-size: 16px;
  overflow: auto;
  padding: 5px 20px;
}

.info2 {
  width: 300px;
  height: 500px;
  position: fixed;
  top: 5%;
  left: 5%;
  box-shadow: 10px 10px 10px 10px #ee1d78;
  font-size: 16px;
  overflow: auto;
  padding: 5px 20px;
}

.info3 {
  width: 300px;
  height: 350px;
  position: fixed;
  top: 40%;
  left: 50%;
  box-shadow: 10px 10px 10px 10px #ee1d78;
  font-size: 16px;
  overflow: auto;
  padding: 5px 20px;
}

.info4 {
  width: 400px;
  height: 250px;
  position: fixed;
  top: 2%;
  left: 60%;
  box-shadow: 10px 10px 10px 10px #ee1d78;
  font-size: 16px;
  overflow: auto;
  padding: 5px 20px;
}

h1 {
  font-size: 40px;
  color: #ee1d78;

}

h2 {
  color: #ee1d78;
}

p {
  text-align: justify;
  font-size: 1.25rem;
  line-height: 1.875rem;
  font-family: "GalliardStd-Roman";
  font-weight: 400;
  color: var(--color-gray-1);
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .modal {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.5);  
  }
}

.button1 {
  position: fixed;
  width: 140px;
  height: 140px;
	display: flex;
	cursor: pointer;
  top: 0%;
  z-index: 10;
}

.button2 {
  position: fixed;
  width: 140px;
  height: 140px;
  display: flex;
  cursor: pointer;
  top: 15%;
  z-index: 10;
}

.button3 {
  position: fixed;
  width: 140px;
  height: 140px;
  display: flex;
  top: 30%;
  z-index: 10;
}

.button4 {
  position: fixed;
  width: 140px;
  height: 140px;
  display: flex;
  cursor: pointer;
  top: 45%;
  z-index: 10;
}

.photos {
  display: none;
}

.appear {
  display: block;
  position: absolute;
  max-width: 20%;
}

.night1 {
  position: fixed;
  top: 20%;
  right: 20%;
}

.night2 {
  position: fixed;
  top: 40%;
  right: 10%;
}

.night3 {
  position: fixed;
  top: 10%;
  right: 40%;
}

.night4 {
  position: fixed;
  top: 10%;
  right: 20%;
  max-width: 10%;
}

.night5 {
  position: fixed;
  top: 20%;
  right: 20%;
}

.night6 {
  position: fixed;
  top: 40%;
  right: 10%;
}

.night7 {
  position: fixed;
  top: 10%;
  right: 40%;
}

.night8 {
  position: fixed;
  top: 10%;
  right: 20%;
}

.musicbox {
  position: fixed;
  top: 3%;
  left: 15%;
  width: 340px;
  background: pink;
  border: 1px solid black;
  padding: 20px;
}

.sidebar {
  position: fixed;
  width: 10%;
  height: 750px;
  right: 0px;
}

.spade {
  width: 40px;
  position: absolute;
  top: 7%;
  left: 50px;
  display: none;
  z-index: -10;
}

.diamond {
  width: 40px;
  position: absolute;
  top: 21%;
  left: 50px;
  display: none;
  z-index: -10;
}

.heart {
  width: 42px;
  position: absolute;
  top: 37%;
  left: 50px;
  display: none;
  z-index: -10;
}

.diamond2 {
  width: 40px;
  position: absolute;
  top: 51%;
  left: 50px;
  display: none;
  z-index: -10;
}

@media screen and (max-width: 800px) {
  .container {
    height: auto;
    overflow: scroll;
  }

  .neon {
    position: fixed; 
    width: 250px;
    height: auto;
    bottom: 0;
    top: auto;
  }

  .sidebar {
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%; 
    height: 100px;
    bottom: auto;
  }

  .info {
    position: relative; 
    top: auto;
    left: auto;
    width: 70%;
    height: 500px;
    margin: 30px;
  }

  .info2 {
    position: relative; 
    top: auto;
    left: auto;
    width: 70%;
    height: 500px;
    margin: 30px;
  }

  .info3 {
    position: relative; 
    top: auto;
    left: auto;
    width: 70%;
    height: 500px;
    margin: 30px;
  }

  .info4 {
    position: relative; 
    top: auto;
    left: auto;
    width: 70%;
    height: 500px;
    margin: 30px;
  }

  .button1 {
    position: fixed;
    width: 120px;
    height: 120px;
    display: flex;
    cursor: pointer;
    top: 0;
    left: 0px;
    bottom: auto;
    z-index: 10;
  }

  .button2 {
    position: fixed;
    width: 120px;
    height: 120px;
    display: flex;
    cursor: pointer;
    top: 0;
    left: 90px;
    bottom: auto;
    z-index: 10;
  }

  .button3 {
    position: fixed;
    width: 120px;
    height: 120px;
    display: flex;
    top: 0;
    left: 180px;
    bottom: auto;
    z-index: 10;
  }

  .button4 {
    position: fixed;
    width: 120px;
    height: 120px;
    display: flex;
    cursor: pointer;
    top: 0;
    left: 270px;
    bottom: auto;
    z-index: 10;
  }

  .night1 {
    position: relative; 
    top: auto;
    left: auto;
  }

  .night2 {
    position: relative; 
    top: auto;
    left: auto;
    right: 10%;
  }

  .night3 {
    position: relative; 
    top: auto;
    left: auto;
  }

  .night4 {
    position: relative; 
    top: auto;
    left: auto;
  }

  .night5 {
    position: relative; 
    top: auto;
    left: auto;
  }

  .night6 {
    position: relative; 
    top: auto;
    left: auto;
  }

  .night7 {
    position: relative; 
    top: auto;
    left: auto;
  }

  .night8 {
    position: relative; 
    top: auto;
    left: auto;
  }

  .musicbox {
    position: relative; 
    top: auto;
    left: auto;
  }

  .spade {
    width: 40px;
    position: absolute;
    top: 7%;
    left: 50px;
    display: none;
    z-index: -10;
  }

  .diamond {
    width: 40px;
    position: absolute;
    top: 21%;
    left: 50px;
    display: none;
    z-index: -10;
  }

  .heart {
    width: 42px;
    position: absolute;
    top: 37%;
    left: 50px;
    display: none;
    z-index: -10;
  }

  .diamond2 {
    width: 40px;
    position: absolute;
    top: 51%;
    left: 50px;
    display: none;
    z-index: -10;
  }
}
















