* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  position: absolute; 
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: none;
  padding: 0px;
}

body.darkmode {
  background-color: black;
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: pink; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ee1d78;  
}

.neon {
  width: 700px;
  height: auto;
  position: fixed;
  top: 55%;
  z-index: 100;
}

.info {
  width: 500px;
  height: 300px;
  position: fixed;
  top: 17%;
  left: 30%;
  box-shadow: 10px 10px 10px 10px #ee1d78;
  font-size: 16px;
  overflow: auto;
  padding: 10px 80px;
}

h1 {
  font-size: 40px;
  color: #ee1d78;

}

p {
  text-align: justify;
  font-size: 1.25rem;
  line-height: 1.875rem;
  font-family: "GalliardStd-Roman";
  font-weight: 400;
  color: var(--color-gray-1);
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .modal {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.5);  
  }
}

.button1 {
  position: fixed;
  width: 140px;
  height: 140px;
	display: flex;
	cursor: pointer;
  top: 0%;
  z-index: 10;
}

.button2 {
  position: fixed;
  width: 140px;
  height: 140px;
  display: flex;
  cursor: pointer;
  top: 15%;
  z-index: 10;
}

.button3 {
  position: fixed;
  width: 140px;
  height: 140px;
  display: flex;
  top: 30%;
  z-index: 10;
}

.button4 {
  position: fixed;
  width: 140px;
  height: 140px;
  display: flex;
  cursor: pointer;
  top: 45%;
  z-index: 10;
}

.photos {
  	display: none;
}

.appear {
  	display: block;
  	position: absolute;
    max-width: 20%;
}

.night1 {
    position: fixed;
    top: 20%;
    right: 20%;
}

.night2 {
    position: fixed;
    top: 40%;
    right: 10%;
}

.night3 {
    position: fixed;
    top: 10%;
    right: 40%;
}

.night4 {
    position: fixed;
    top: 10%;
    right: 20%;
}

.musicbox {
  position: fixed;
  top: 3%;
  left: 15%;
  width: 340px;
  background: pink;
  border: 1px solid black;
  padding: 20px;
}

.sidebar {
  position: fixed;
  width: 10%;
  height: 750px;
  right: 0px;
}

.spade {
  width: 40px;
  position: absolute;
  top: 7%;
  left: 50px;
  display: none;
  z-index: -10;
}

.diamond {
  width: 40px;
  position: absolute;
  top: 21%;
  left: 50px;
  display: none;
  z-index: -10;
}

.heart {
  width: 42px;
  position: absolute;
  top: 37%;
  left: 50px;
  display: none;
  z-index: -10;
}
















