
* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.container {
	position: absolute; 
	top: 0; 
	right: 0; 
	bottom: 0; 
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #d8d4c6;
	padding: 20px;
	font-family: "Karla", sans-serif;
}

.container.darkmode {
	background: linear-gradient(93deg, #f5f4a4, #7ff373, #f3b873, #f373dd);
	background-size: 800% 800%;

	-webkit-animation: AnimationName 13s ease infinite;
	-moz-animation: AnimationName 13s ease infinite;
	animation: AnimationName 13s ease infinite;
	-o-animation: AnimationName 13s ease infinite;

	@-webkit-keyframes AnimationName {
	    0%{background-position:0% 50%}
	    50%{background-position:100% 50%}
	    100%{background-position:0% 50%}
	}
	@-moz-keyframes AnimationName {
	    0%{background-position:0% 50%}
	    50%{background-position:100% 50%}
	    100%{background-position:0% 50%}
	}
	@keyframes AnimationName {
	    0%{background-position:0% 50%}
	    50%{background-position:100% 50%}
	    100%{background-position:0% 50%}
	}

}

.container.darkmode .switch {
	border: 3px solid white;
}

.container.darkmode .switch-button {
	background: white;
	right: 0;
	left: auto;
}

.container.darkmode .title {
	
}

.container.darkmode .information{
	box-shadow: 11px 11px 0px 0px #B699D8;
}
.container.darkmode .playlist{
	box-shadow: 11px 11px 0px 0px #B699D8;
}
.container.darkmode .circle{
	box-shadow: 11px 11px 0px 0px #B699D8;
}

.container.darkmode .cat-snake{
	box-shadow: 11px 11px 0px 0px #B699D8;
}
.container.darkmode .snake-burgers{
	box-shadow: 11px 11px 0px 0px #B699D8;
}
.container.darkmode .snake-tv{
	box-shadow: 11px 11px 0px 0px #B699D8;
}
.container.darkmode .tiger{
	box-shadow: 11px 11px 0px 0px #B699D8;
}
.container.darkmode .tiger2{
	box-shadow: 11px 11px 0px 0px #B699D8;
}
.container.darkmode .doggo{
	box-shadow: 11px 11px 0px 0px #B699D8;
}
.container.darkmode .doggo2{
	box-shadow: 11px 11px 0px 0px #B699D8;
}

.switch {
	width: 50px;
	height: 30px;
	border: 3px solid black;
	position: relative;
}

.switch-button {
	position: absolute; 
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: black;
}

.title {
	width: 300px;
	margin: 0 auto;
	font-size: 55px;
	font-family: le murmure;
	top: -8%;
}

.information {
	width: 400px;
	height: auto;
	border: 2px solid black;
	box-shadow: 11px 11px 0px 0px #c9f14d;
	background: #84583b;
	position: fixed; 
	top: 30%;
	left: 35%;
	padding: 10px 40px 10px 40px;
	font-size: 26px;
	text-align: justify;

}

.circle {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 2px solid black;
	box-shadow: 11px 11px 0px 0px #c9f14d;
	background: #b2be4f;
	position: fixed;
	top: 38%;
	left: 65%;
}

.extra-info {
	color: white;
}

.hide {
	display: none;
}

.cat-snake {
	width: 300px;
	position: fixed;
	top: 10%;
	left: 70%;
	border: 2px solid black;
	box-shadow: 11px 11px 0px 0px #c9f14d;
}

.snake-burgers {
	width: 320px;
	position: fixed;
	top: 45%;
	left: 28%;
	border: 2px solid black;
	box-shadow: 11px 11px 0px 0px #c9f14d;
}

.snake-tv {
	width: 250px;
	position: fixed;
	top: 60%;
	left: 55%;
	border: 2px solid black;
	box-shadow: 11px 11px 0px 0px #c9f14d;
}

.tiger {
	width: 300px;
	position: fixed;
	top: 50%;
	left: 5%;
	box-shadow: 11px 11px 0px 0px #c9f14d;
}

.tiger2 {
	width: 300px;
	position: fixed;
	top: 50%;
	left: 5%;
	border: 2px solid black;
	box-shadow: 11px 11px 0px 0px #c9f14d;
}

.doggo {
	width: 270px;
	position: fixed;
	top: 45%;
	left: 75%;
	border: 2px solid black;
	box-shadow: 11px 11px 0px 0px #c9f14d;
}

.doggo2 {
	width: 270px;
	position: fixed;
	top: 45%;
	left: 75%;
	border: 2px solid black;
	box-shadow: 11px 11px 0px 0px #c9f14d;

}

.salamanca {
	width: 130px;
	position: absolute;
	top: 20px;
	left: 93px;
	display: none;
}

.hector {
	width: 130px;
	position: absolute;
	top: 180px;
	left: 85px;
	display: none;
}

.playlist {
	position: fixed;
	top: 3%;
	left: 10%;
	width: 340px;
	background: #CEC5D8;
	border: 2px solid black;
	box-shadow: 11px 11px 0px 0px #c9f14d;
	padding: 20px;
}

.hoverme {
	text-decoration: underline;
}

.hoverme2 {
	text-decoration: underline;
}

.draggable {
	cursor: move;
}

@media screen and (max-width: 800px) {
	.container {
		height: auto;
		overflow: scroll;
	}

	.title {
		font-size: 25px;
	}

	.information {
		position: relative; 
		top: auto;
		left: auto;
		font-size: 32px;
	}

	.circle {
		position: relative; 
		top: auto;
		left: auto;
	}

	.cat-snake {
		position: relative; 
		top: auto;
		left: auto;
	}

	.snake-burgers {
		position: relative; 
		top: auto;
		left: auto;
	}

	.snake-tv {
		position: relative; 
		top: auto;
		right: auto;
	}

	.playlist {
		position: relative; 
		top: auto;
		left: auto;
		padding: 20px;
	}
}










