
html {
	background: #F0E9DC;
	font-size: 15px;
	font-family: aktiv-grotesk, sans-serif;
	font-style: normal;
	font-weight: 200;
	cursor: url(http://www.xxix.co/_assets/images/cursor/cursor-circle-lg-black-fill.png) 15 15,auto !important;
}

body {
  	margin: 0;
  	padding: 0;
}

.split {
	display: grid;
  	grid-gap: 1em;
  	grid-auto-rows: minmax(100px, auto);
	
	font-size: 45px;
	margin: 0px;
	padding: 0px;
	
	font-family: freight-big-pro, serif;
	font-weight: 500;
	font-style: normal;
	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.nested {
  	display: grid;
 	grid-template-columns: 1fr 1fr;
}

.nested > div {
  	padding: 1em;
  	align-self: start;
}

.topnav {
  	overflow: hidden;
  	padding: 10px;
}

.topnav a {
  	float: left;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
  	font-size: 16px;
}

.topnav-right {
  	float: right;	
}

.navbar {
	text-align: center;
  	padding: 2%;
  	margin: 0px;
  	display: block;
  	background-image: linear-gradient(rgba(255,0,0,0), rgba(236,176,148));
  	font-family: lust, serif;
	font-style: normal;
  	font-weight: 400;
 	overflow: hidden;
  	position: fixed;
  	bottom: 0;
  	width: 100%;
}

.navbar a {
  	padding: 14px 16px;
  	color: white !important;
  	text-decoration: none;
  	font-size: 17px;
}

.topnav a {
	text-decoration: none;
	color: black !important;
	cursor: url(http://www.xxix.co/_assets/images/cursor/cursor-close-lg-black.png) 15 15,auto !important;
}

.topnav a:hover {
	color: #E88376;
	background-color: rgba(236,176,148);
	-moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
	cursor: url(http://www.xxix.co/_assets/images/cursor/cursor-close-lg-black.png) 15 15,auto !important;
}

.active {
	font-family: lust, serif; 
	font-style: normal; 
	font-weight: 400; 
	background-color: #F0E9DC;
	font-size: 45px; 
	cursor: url(http://www.xxix.co/_assets/images/cursor/cursor-circle-lg-black-fill.png) 15 15,auto !important; 
}

.keepintouch {
	font-family: lust, serif; 
	font-style: normal; 
	font-weight: 400; 
	font-size: 30px;
	writing-mode: vertical-rl; 
	transform: rotate(180deg); 
	text-align: right;
}

.contactme {
	font-size: 20px;
	line-height: 40px;
}

.contactme a {
	text-decoration: none;
	font-family: lust, serif;
	font-weight: 400;
	font-style: italic;
	color: black !important;
	cursor: url(http://www.xxix.co/_assets/images/cursor/cursor-close-lg-black.png) 15 15,auto !important;
}

.contactme a:hover {
	color: #E88376;
	background-color: rgba(236,176,148);
	-moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
	cursor: url(http://www.xxix.co/_assets/images/cursor/cursor-close-lg-black.png) 15 15,auto !important;
}


@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 20px); }
    to   { transform: translate(0, -0px); }    
}

@media only screen and (max-width: 800px) {
  	
  	.split {
		font-size: 20px;
	}

  	h1 {
  		font-size: 20px;
  	}

  	a {
  		font-size: 20px;
  	}

  	.keepintouch {
		font-size: 20px;
	}

  	.contactme {
    	font-size: 20px;
  	}

	.footer {
    	padding: 14% 17%;
  	}
  	.active {
  		font-family: lust, serif; 
		font-style: normal; 
		font-weight: 400; 
  		font-size: 30px;
  	}

}








