

html {
	background: #F0E9DC;
	font-size: 15px;
	font-family: aktiv-grotesk, sans-serif;
	font-style: normal;
	font-weight: 200;
	cursor: url(http://www.xxix.co/_assets/images/cursor/cursor-circle-lg-black-fill.png) 15 15,auto !important;
}

body {
  	margin: 0;
  	padding: 0;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #e7473a;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.split {
	display: grid;
  	grid-gap: 1em;
  	grid-auto-rows: minmax(100px, auto);
	
	font-size: 45px;
	margin: 0px;
	padding: 0px;
	
	font-family: freight-big-pro, serif;
	font-weight: 500;
	font-style: normal;
	text-transform: lowercase;
	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.nested {
  	display: grid;
 	grid-template-columns: 1fr 1fr;
}

.nested > div {
  	padding: 1em;
  	align-self: start;
}

.topnav {
  	overflow: hidden;
  	padding: 10px;
}

.topnav a {
  	float: left;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
  	font-size: 16px;
}

.topnav-right {
  	float: right;	
}

.navbar {
	text-align: center;
  	padding: 2%;
  	margin: 0px;
  	display: block;
  	background-image: linear-gradient(rgba(255,0,0,0), rgba(236,176,148));
  	font-family: lust, serif;
	font-style: normal;
  	font-weight: 400;
 	overflow: hidden;
  	position: fixed;
  	bottom: 0;
  	width: 100%;
}

.navbar a {
  	padding: 14px 16px;
  	color: white !important;
  	text-decoration: none;
  	font-size: 17px;
}

a {
	text-decoration: none;
	color: black !important;
	cursor: url(http://www.xxix.co/_assets/images/cursor/cursor-close-lg-black.png) 15 15,auto !important;
}

a:hover {
	color: #E88376;
	background-color: rgba(236,176,148);
	-moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
	cursor: url(http://www.xxix.co/_assets/images/cursor/cursor-close-lg-black.png) 15 15,auto !important;
}

.active {
	font-family: lust, serif; 
	font-style: normal; 
	font-weight: 400; 
	background-color: #F0E9DC;
	font-size: 45px; 
	cursor: url(http://www.xxix.co/_assets/images/cursor/cursor-circle-lg-black-fill.png) 15 15,auto !important; 
}

.moon img {
	position: relative;
	display: block;
 	max-width: 24%;
 	height: auto;
 	top: 20vh;
 	left: 22vh;
	z-index: -10;
	animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.star img {
	position: relative;
	display: block;
 	max-width: 20%;
 	height: auto;
 	top: -17vh;
 	left: 135vh;
	z-index: -10;
	animation-name: floating;
    animation-duration: 2.8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 20px); }
    to   { transform: translate(0, -0px); }    
}

@media only screen and (max-width: 800px) {
  	.split {
		font-size: 30px;
	}

  	.active {
    	font-size: 30px;
  	}
	.moon img {
 		max-width: 25%;
 		top: 20vh;
 		left: 10vh;
	}

	.star img {
 		max-width: 25%;
 		top: 20vh;
 		left: 45vh;
	}
	.footer a {
    	padding: 14% 17%;
    	font-size: 15px;
  	}
  	.active {
  		font-family: lust, serif; 
		font-style: normal; 
		font-weight: 400; 
  		font-size: 30px;
  	}
  	#loader {
	  width: 100px;
	  height: 100px;
	}

}








