* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

html {
  background: #F0E9DC;
  font-size: 15px;
  font-family: aktiv-grotesk, sans-serif;
  font-style: normal;
  font-weight: 200;
  cursor: url(http://www.xxix.co/_assets/images/cursor/cursor-circle-lg-black-fill.png) 15 15,auto !important;
}

h1 {
  font-size: 130px;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 90%;
  font-family: lust, serif;
  font-style: normal;
  font-weight: 400;
  text-transform: lowercase;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
    from { transform: translateY(60%); }
    65%  { transform: translate(0, 65%); }
    to   { transform: translate(0, 60%); }    
}

.header {
  color: #ffffff;
  padding: 3px;
  overflow: hidden;
}

.header a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    font-size: 16px;
    text-decoration: none;
    color: black !important;
}

.topnav-right {
    float: right; 
}

.glow {
  position: fixed;
  max-width: 40%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  text-align: center
  height: auto;
  z-index: -100;
}

.moon {
  position: fixed;
  display: fixed;
  max-width: 15%;
  height: auto;
  top: 37%;
  left: 15%;
  z-index: -100;
}

.star {
  position: fixed;
  display: fixed;
  max-width: 15%;
  height: auto;
  top: 55%;
  left: 67%;
  z-index: -100;
}

.footer {
  text-align: center;
  padding: 2%;
  margin: 0px;
  display: block;
  background-image: linear-gradient(rgba(255,0,0,0), rgba(236,176,148));
  font-family: lust, serif;
  font-style: normal;
  font-weight: 400;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer a {
  padding: 14px 16px;
  color: white !important;
  text-decoration: none;
  font-size: 17px;
}

a:hover {
  background-color: rgba(236,176,148);
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  cursor: url(http://www.xxix.co/_assets/images/cursor/cursor-close-lg-black.png) 15 15,auto !important;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
}

/* you can add properties here for mobile!!  */
@media only screen and (max-width: 800px) {
  h1 {
    font-size: 80px;
    font-family: lust, serif;
    font-style: normal;
    font-weight: 400;
    }
    .glow {
    max-width: 60%;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
  }
  .moon {
    max-width: 25%;
    top: 20%;
    left: 5%;
  }
  .star {
    max-width: 25%;
    top: 65%;
    left: 65%;
  }

}







